body {
    display: flex;
}
header {
    background-color: white;
    box-shadow: 5px 0px 20px #5C300F;
    padding-top: 5vh;
}
#descuentos {
    display: flex;
    width: 80%;
    background-color: #ff8e1d;
    border-radius: 50px;
    margin: auto;
    color: #FFF9E9;
    align-items: center;
    gap: 2vh;
    justify-content: space-evenly;
    box-shadow: 0px 2px 2px #5C300F;
}
#descuentos:hover {
    background-color: #faaf63;
}
#descuentos img {
    height: 5vh;
    transform: scaleX(-1);
}
#logo img {
    height: 17vh;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
nav div {
    display: flex;
    align-items: center;
}
nav div button {
    margin: 0px 0.7vh;
}
main {
    text-align: center;
}
main h1 span {
    color: #ff8e1d;
}

main p {
    margin: 5vh 0px;
}
#sec {
    width: 75%;
    margin-left: 25%;
    padding-bottom: 7vh;
}
#fondito {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
}
/* FOOTER CORREGIDO */
footer {
    width: 100%; 
    height: 7vh;
    background-color: #ff8e1d;
    color: #FFF9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 20px #5C300F;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    right: 0; 
    flex-direction: column; 
    gap: 5px;
}

footer .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .info img {
    height: 3vh; 
}

footer .info p {
    font-size: 2vh;
    margin: 0;
}

footer div:last-child {
    display: flex;
    gap: 15px;
}

footer a {
    color: #FFF9E9;
    text-decoration: none;
    font-size: 1.4vh;
}

footer a:hover {
    text-decoration: underline;
}